@model IEnumerable<TDDBanking.Models.Account>

@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>

<form>
    Account number <input type="number" name="accountNumber" placeholder="Account number to check ..."/>
    <input type="submit" value="Search" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
    </tr>
}

</table>
