@using TDDBanking.Models;
@model IEnumerable<Account>
<div class="row">
    <table>
        <thead>
            <tr><th>Account number</th></tr>
        </thead>
        <tbody>
            @foreach (Account account in Model)
            {
                <tr>
                    <td>@account.AccountNumber</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>